# STM32N657X0_Q Nucleo board configuration

# Copyright (c) 2024 STMicroelectronics
# SPDX-License-Identifier: Apache-2.0

if BOARD_NUCLEO_N657X0_Q

config FLASH_LOAD_OFFSET
	default 0x70000000 if STM32N6_FSBL

endif # BOARD_NUCLEO_N657X0_Q
